{#
/**
 * @file
 * Default theme implementation to present a widget instance entity.
 *
 * This template is used when viewing a registered widget instance's page,
 * e.g., /admin/content/interactive-components/widget-instance)/123. 123 being the widget instance's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_widget_instance()
 */
#}

{%
  set attributes = attributes
    .addClass(['widget-instance'])
    .setAttribute('id', html_id)
%}

<div{{ attributes }}>
  {{- content.type -}}
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
